<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ 'LOYALTY_APP.LOGIN.TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="credentials" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-label stacked>{{ 'LOYALTY_APP.LOGIN.FORM.LABEL.USERNAME' | translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'LOYALTY_APP.LOGIN.FORM.PLACEHOLDER.USERNAME' | translate }}" formControlName="userName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>{{ 'LOYALTY_APP.LOGIN.FORM.LABEL.PASSWORD' | translate }}</ion-label>
            <ion-input type="password" placeholder="{{ 'LOYALTY_APP.LOGIN.FORM.PLACEHOLDER.PASSWORD' | translate }}" formControlName="password"></ion-input>
        </ion-item>
        <ion-item text-wrap>
            <ion-label>
                {{ termsParts[0] }}
                <a *ngIf="termsParts[1]" (click)="openTerms()">{{ termsParts[1] }}</a>
                {{ termsParts[2] }}
            </ion-label>
            <ion-toggle formControlName="termsAccepted"></ion-toggle>
        </ion-item>
        <button ion-button margin type="submit" [disabled]="!credentials.valid">{{ 'LOYALTY_APP.LOGIN.FORM.LABEL.SUBMIT' | translate }}</button>
    </form>
</ion-content>
