<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'LOYALTY_APP.REGISTRATION.TITLE' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="scan()">
                <ion-icon name="qr-scanner"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-list-header *ngIf="headlineRegistration !== ''">
                {{headlineRegistration}}
            </ion-list-header>
            <ion-item>
                <ion-input type="text" placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.SERIAL' | translate }}" maxlength="28" [(ngModel)]="serial" (input)="checkSerial()" formControlName="serial"></ion-input>
                <ion-note item-right>
                    {{serialLength}}/28
                </ion-note>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.serial.invalid && registrationForm.controls.serial.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.SERIAL' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-label>{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.INSTALLATION_DATE' | translate }} *</ion-label>
                <ion-input type="date" max="{{currentDate}}" formControlName="date"></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.date.invalid && registrationForm.controls.date.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.DATE' | translate }}</p>
            </ion-item>

            <ion-item text-wrap>
                {{ 'LOYALTY_APP.REGISTRATION.FORM.HINT.SERIAL' | translate }}
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-list-header *ngIf="headlineCustomer !== ''">
                {{headlineCustomer}}
            </ion-list-header>
            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.FIRSTNAME' | translate }}"
                           formControlName="firstName"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.firstName.invalid && registrationForm.controls.firstName.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.FIRSTNAME' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.LASTNAME' | translate }}"
                           formControlName="lastName"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.lastName.invalid && registrationForm.controls.lastName.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.LASTNAME' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.STREET' | translate }}"
                           formControlName="street"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.street.invalid && registrationForm.controls.street.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.STREET' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.HOUSENO' | translate }}"
                           formControlName="houseNo"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.houseNo.invalid && registrationForm.controls.houseNo.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.HOUSENO' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.ZIP' | translate }}"
                           formControlName="zip"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.zip.invalid && registrationForm.controls.zip.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.ZIP' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.CITY' | translate }}"
                           formControlName="city"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.city.invalid && registrationForm.controls.city.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.CITY' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="text"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.PHONE' | translate }}"
                           formControlName="phone"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.phone.invalid && registrationForm.controls.phone.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.PHONE' | translate }}</p>
            </ion-item>

            <ion-item>
                <ion-input type="email"
                           placeholder="{{ 'LOYALTY_APP.REGISTRATION.FORM.PLACEHOLDER.EMAIL' | translate }}"
                           formControlName="email"
                           clearInput></ion-input>
            </ion-item>
            <ion-item *ngIf="registrationForm.controls.email.invalid && registrationForm.controls.email.touched">
                <p class="error">{{ 'LOYALTY_APP.REGISTRATION.FORM.ERROR.EMAIL' | translate }}</p>
            </ion-item>
        </ion-list>

        <p margin>* {{ 'LOYALTY_APP.REGISTRATION.FORM.LABEL.REQUIRED' | translate }}</p>

        <button ion-button margin-left margin-bottom type="submit" [disabled]="!registrationForm.valid">
            {{ 'LOYALTY_APP.REGISTRATION.FORM.LABEL.SUBMIT' | translate }}
        </button>
    </form>
</ion-content>
