<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'LOYALTY_APP.CONTACT.TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="phone != ''">
            <ion-icon name="call" item-left></ion-icon>
            <a href="tel:{{phone}}">{{phone}}</a>
        </ion-item>
        <ion-item *ngIf="email != ''">
            <ion-icon name="mail-open" item-left></ion-icon>
            <a href="mailto:{{email}}">{{email}}</a>
        </ion-item>
    </ion-list>
</ion-content>
