// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #00917e,
  secondary:  #33a798,
  info:       #485b73,
  success:    #00917e,
  danger:     #c03,
  light:      #f4f4f4,
  dark:       #222
);

$text-input-highlight-color-valid: color($colors, success);
$text-input-highlight-color-invalid: color($colors, danger);

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$text-input-ios-highlight-color: color($colors, info);



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$text-input-md-highlight-color: color($colors, info);
$toggle-md-track-background-color-on: #dedede;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
