<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{ 'LOYALTY_APP.HISTORY.TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="inner-content">
        <div #itemGroupWrapper>
            <ion-item-group *ngFor="let r of registrations">
                <ion-item-divider color="light">{{r.month}}</ion-item-divider>
                <ion-item text-wrap *ngIf="!r.items.length">
                    {{ 'LOYALTY_APP.COMMON.NOENTRIES' | translate }}
                </ion-item>
                <ion-item text-wrap *ngFor="let i of r.items" (click)="showDetails(i)">
                    <h2>{{i.serialNumber}}</h2>
                    <h3>{{i.productName}}</h3>
                    <ion-icon name="arrow-forward" item-right></ion-icon>
                </ion-item>
            </ion-item-group>
        </div>
        <ion-item-group *ngIf="showMore">
            <ion-item-divider color="light">
                <ion-icon name="arrow-down" item-left></ion-icon>
                {{ 'LOYALTY_APP.HISTORY.LOADMORE' | translate }}
            </ion-item-divider>
        </ion-item-group>
        <ion-infinite-scroll (ionInfinite)="loadInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </div>
</ion-content>
