<ion-menu [content]="content">

    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{ 'LOYALTY_APP.COMMON.MENU' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
                {{p.title}}
            </button>
            <button ion-item (click)="logout()">
                {{ 'LOYALTY_APP.COMMON.LOGOUT' | translate }}
            </button>
        </ion-list>

        <ion-footer padding>
            <small>App version {{version}}<br>&copy; {{ 'LOYALTY_APP.COMMON.COPYRIGHT' | translate }}</small>
        </ion-footer>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
