<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ 'LOYALTY_APP.TERMS.TITLE' | translate }}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <p [innerHTML]="'LOYALTY_APP.TERMS.TEXT' | translate"></p>
</ion-content>
