<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ 'LOYALTY_APP.HISTORY.DETAIL.TITLE' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <h2>{{ 'LOYALTY_APP.HISTORY.DETAIL.LABEL.SERIAL_NUMBER' | translate }}</h2>
        <h3>{{registration.serialNumber}}</h3>
    </ion-item>
    <ion-item>
        <h2>{{ 'LOYALTY_APP.HISTORY.DETAIL.LABEL.PRODUCT_NAME' | translate }}</h2>
        <h3>{{registration.productName}}</h3>
    </ion-item>
    <ion-item>
        <h2>{{ 'LOYALTY_APP.HISTORY.DETAIL.LABEL.BOOKING_DATE' | translate }}</h2>
        <h3>{{registration.installationDate | date:format}}</h3>
    </ion-item>
</ion-content>
